<% include ../../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="" src="<%=product.image%>">
            </div>
            <h4 class=""><%= product.description %></h4>
        </div>
        <div class="col-md-6">
            <img class="" src="<%=product.brandIcon%>">
            <h4 class=""><%= product.brand %></h4>
            <h4 class=""><%= product.price %></h4>
            <h4 class=""><%= product.category %></h4>
            <h4 class=""><%= product.sizes %></h4>
            <a href="/add-to-bag"class="button"> <i class="fas fa-shopping-bag"></i> Add to bag</a>
        </div>
    </div>
</div>

<% include ../../partials/footer %>