<% include ../../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 data-id="<%=product._id%>" data-brand="<%=product.brand%>" data-category="<%=product.category%>" data-price="<%=product.price%>" data-img="<%=product.image%>"> <%= product.brand %> - <%= product.category%></h1>
            <div class="thumbnail">
                <img class="show-image" src="<%=product.image%>">
            </div>
        </div>
        <div class="col-md-6">
            <div class="show-details">
                <img class="show-brand-icon" src="<%=product.brandIcon%>">
                <h4 id="show-details">Product Details</h4>
                <hr>
                <h4 class="show-description"><%= product.description %></h4>
                <h4 class="show-price">€<%= product.price %></h4>
                <div class="dropdown">
                    <button class="show-dropdown btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Choose size
                      <span class="caret"></span>
                    </button>
                    <ul class="show-dropdown-menu dropdown-menu" aria-labelledby="dropdownMenu1">
                        <% product.sizes.forEach(function(size) { %>
                            <li><a><%= size %></a></li>
                       <% }); %>
                    </ul>
                  </div>
            </div>
            <div class="show-options">
                <a href="" onclick="return false;" id="add-to-bag" class="button"><i class="fas fa-shopping-bag"></i> Add to bag</a>
                <a href="" id="add-to-wishlist" class="button"><i class="far fa-heart"></i> Add to Wishlist</a>
            </div>
        </div>
    </div>
</div>

<% include ../../partials/footer %>